{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
      <div class="media-body">
      <h2><label class="article-title">Asymmetric Encryption</label></h2>
        <p class="article-content">
          <form id="cryptography" name="cryptography" onsubmit="execute()" enctype="multipart/form-data">
            <div class="key-container">
                <div>
                    <label><b>Public Key</b></label><br>
                    <input accept=".pub" type="file" id="public-key-file" name="public-key-file"><br><br>
                    <label><b>Public Key</b></label><br>
                    <input type="text" id="public-key" name="public-key"><br><br> 
                </div>
                <div>
                    <label><b>Private Key</b></label><br>
                    <input accept=".pri" type="file" id="private-key-file" name="private-key-file"><br><br>
                    <label><b>Private Key</b></label><br>
                    <input type="text" id="private-key" name="private-key"><br><br>
                </div>
            </div>
            <div class="key-container">
                <div>
                    <label><b>Mode</b></label><br>
                    <input type="radio" name="mode" value="Sign">
                    <label>Sign</label><br>
                    <input type="radio" name="mode" value="Verify">
                    <label>Verify</label><br>
                </div>
            </div>
            <div>
                <label><b>Input Box</b></label><input accept=".txt" type="file" id="input-file" name="input-file" /><br>
                <textarea id="input-box" name="input-box" rows=5 class="text-area-box"></textarea><br><br>
            </div>
            <div>
                <label><b>Result Box</b></label><br>
                <textarea id="output" name="result-box" rows=5 class="text-area-box" disabled></textarea><br><br>
            </div>
            <input id="submit" type="submit" value="Execute"><br>
          </form>
          <br />

          <label id="result"></label><br />
          <button id="download-full" onclick="downloadFull()" disabled>Download File</button>
          <button id="download-split" onclick="downloadSeparately()" disabled>Download Separately</button>
        </p>
      </div>
    </article>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

    <script type="text/javascript">
    const wholeFile = document.createElement("a");
    const signFile = document.createElement("a");
    const contentFile = document.createElement("a");

    const execute = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('execute') }}");
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.responseType = "json"
        xhr.send(JSON.stringify({
            "public-key": $("[name='public-key']").val(),
            "private-key": $("[name='private-key']").val(),
            "mode": $("[name='mode']:checked").val(),
            "input-box": $("[name='input-box']").val()
        }))
        xhr.onreadystatechange = function(e){
            if (this.readyState === 4) {
                if (this.response.error) {
                    alert(this.response.error);
                    return;
                }
                document.getElementById("output").value = this.response.result
                document.getElementById("result").innerText = this.response.notification

                wholeFile.href = this.response.full;
                wholeFile.download = this.response.full;
                document.getElementById("download-full").disabled = false
                document.getElementById("download-split").disabled = true

                if (this.response.sign && this.response.content){
                    signFile.href = this.response.sign;
                    signFile.download = this.response.sign;
                    contentFile.href = this.response.content;
                    contentFile.download = this.response.content;
                    document.getElementById("download-split").disabled = false
                }
            }
        }
    }

    const downloadFull = function(){
        wholeFile.click();
    }

    const downloadSeparately = function(){
        signFile.click();
        contentFile.click();
    }
    
    const getInputContent = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('file_content') }}");

        const formData = new FormData()
        const inputContent = document.querySelector("input[name='input-file']").files[0]

        formData.append('file', inputContent)
        xhr.send(formData)
        xhr.onreadystatechange = function(e) {
            if (this.readyState === 4) {
                document.getElementById("input-box").value = this.response;
            }
        }
    }

    const getPublicKeyContent = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('file_content') }}");

        const formData = new FormData()
        const public_key_file = document.querySelector("input[name='public-key-file']").files[0]

        formData.append('file', public_key_file)
        xhr.send(formData)
        xhr.onreadystatechange = function(e) {
            if (this.readyState === 4) {
                document.getElementById("public-key").value = this.response;
            }
        }
    }

    const getPrivateKeyContent = function(){
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "{{ url_for('file_content') }}");

        const formData = new FormData()
        const private_key_file = document.querySelector("input[name='private-key-file']").files[0]

        formData.append('file', private_key_file)
        xhr.send(formData)
        xhr.onreadystatechange = function(e) {
            if (this.readyState === 4) {
                document.getElementById("private-key").value = this.response;
            }
        }
    }

    $('#input-file').on('change', function(e){
        e.preventDefault();
        e.stopPropagation();
        getInputContent();
    })

    $('#public-key-file').on('change', function(e){
        e.preventDefault();
        e.stopPropagation();
        getPublicKeyContent();
    })

    $('#private-key-file').on('change', function(e){
        e.preventDefault();
        e.stopPropagation();
        getPrivateKeyContent();
    })

    $('#submit').on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        execute()
    })
    </script>
{% endblock content %}
